<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.lachongmedia.appnv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:name="vn.lachongmedia.appnv.KsmartSalesApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD2CRS7C4_ITxTIrArSF6dqtg1MJsbgsEM" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="vn.lachongmedia.appnv"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name="vn.lachongmedia.appnv.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="vn.lachongmedia.appnv.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vn.lachongmedia.appnv.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="vn.lachongmedia.appnv.activity.CheckInActivity"
            android:parentActivityName="vn.lachongmedia.appnv.MainActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.LichHenActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.DonHangActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.DanhSachMatHangActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.GiaoHangActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ThanhToanActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.LichSuGiaoHangActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.LichSuThanhToanActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.TaoPhanHoiActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.TaoGhiChuActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChiTietCongNoActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.TaoCongNoActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChiTietKhuyenMaiActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChiTietKhachHangActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ThemMatHangGuiBanActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.LapKeHoachKhachHangActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ThongTinTuyenActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ThongTinKhuVucActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChiTietCongViecActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChiTietSoanTinNhanCuActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChiTietBaoCaoKPIActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.DanhSachViecCanLamActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.Activity_ChupAnh_New"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChonKhachHangActivity"></activity>
        <activity android:name="vn.lachongmedia.appnv.activity.ChonDanhMucActivity"></activity>
        <activity
            android:name="vn.lachongmedia.appnv.activity.AlbumActivity"
            android:parentActivityName="vn.lachongmedia.appnv.MainActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD2CRS7C4_ITxTIrArSF6dqtg1MJsbgsEM" />
        <service android:name="vn.lachongmedia.appnv.service.UploadImageService" />
    </application>


</manifest>